#btn {
    color: black;
    width: 150px;
    height: 50px;
    background-color: plum;

    position: absolute;
    left: 60%;
    top: 50%;
}

#btn-yes{
    color: black;
    width: 150px;
    height: 50px;
    background-color: plum;

    position: absolute;
    left: 35%;
    top: 50%;
}
#line{
    position: absolute;
    top: 40%;
    left: 48%;
}